* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.screen {
    height: 100vh;
}

.wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    align-items: center;
}

.text-content {
    padding: 0 200px;
}

header h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
    color: black;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #0066cc;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.4;
    transition: color 0.3s;
}

.image-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
    margin-left: auto;
    display: block;
}

/* второй */

#func.screen {
    background-image: url(./image/34222.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
}

#func .text-content {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

#func .text-content h2 {
    font-size: 50px;
}

.grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* третий */

#nervno .image-container img {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
}

#nervno .text-content h2 {
    font-size: 50px;
}

/* четвертый */

#deg .text-content h2 {
    font-size: 50px;
}

/* футер */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  width: 100%;
  height: 300px; 
  gap: 60px; 
  padding: 40px;
}

.rectangle {
  background-color: #fe704a; 
  height: 100%;
  border-radius: 30px;
}

.text {
    padding: 30px;
}
