* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url('img/NINTCHDBPICT000697175421-1.webp');
}

.text {
    color: white;
    margin-left: 300px;
}

.text h1 {
    font-size: 70px;
}

.text a {
    color: white;
    text-decoration: none;
}

#endo.screen {
    background-image: none;
    position: relative;
}

#endo.screen::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color:  #f1f1f1;
    z-index: -1;
}

/* второй */

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
}

.card {
    margin-top: -250px;
    background-color: #f1f1f1;
    padding: 30px;

    text-align: center;
}

.card h3 {
    color: #333;
    margin-bottom: 15px;
    font-size: 24px;
    border-bottom: 2px solid #f1f1f1;
}

.card p {
    color: #666;
    line-height: 1.6;
}

.wrap {
    margin-top: 200px;
    margin-left: 300px;
}

.wrap h2 {
    font-size: 50px;
}

/* третий */

#mio.screen {
    background-image: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 20px;
    align-items: center; 
}

#mio.screen img {
    width: 100%;
    height: calc(100vh - 40px); 
    object-fit: cover; 

}

#mio.screen p {
    padding: 20px;
    color: #333;
    line-height: 1.3;
    font-size: 18px;
    text-align: justify;
    
    max-height: calc(100vh - 40px); 
}


/* четвертый */

#peri.screen {
    background-image: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 20px;
    align-items: center; 
}

#peri.screen img {
    width: 100%;
    height: calc(100vh - 40px); 
    object-fit: cover; 

}

#peri.screen p {

    color: #333;
    line-height: 1.3;
    font-size: 18px;
    text-align: justify;
    
    max-height: calc(100vh - 40px); 
}

/* низ */
.site-footer {
    width: 100%;
    height: 200px;
    background-color: #323232 ;
    color: white;
    text-align: center;
}

.site-footer a {
    color: white;
}