article {
    font-size: 130%;
}

h1 {
    margin-left: 200px;
    font-size: 60px;
    margin-top: 0;
}

h2 {
    font-size: 50px;
}

footer {
    text-align: center;
    color: white;
    background-color: rgb(45, 45, 49);
    height: 200px;
}